header {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #131054;
    color: #131054;
    padding-left: 40px;
    padding-right: 20px;
}

#logo {
    width: 200px;
}

#logo1 {
    padding-top: 10px;
    font-weight: bold;
    font-size: 120%;
}

.details p {
    padding: 0;
    margin: 0;
}

#id-number {
    margin-left: 250px
}

.details {
    margin-left: 130px;
    margin-top: 100px;
    margin-bottom: 70px
}

.flexi {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 23px;
    font-weight: bolder;
}

table {
    margin-left: 40px;
    margin-top: 85px;
}

.caption img {
    width: 80px;
    border-radius: 50%;
    outline: 1.5px solid black;
    outline-offset: -15px;
}

.caption {
    display: flex;
    margin-left: 40px;
    margin-bottom: -60px;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 30px;
}

.table {
    padding-right: 43px;
    padding-bottom: 43px;
    padding-top: 10px;
}

html {
    max-width: 900px;
    min-width: 900px;
    font-size: 90%;
}

.flex {
    display: flex;

}

main {
    display: flex;
}

.information {
    margin-left: 10px;
}

.dark-blue-box {
    background-color: #131054;
    color: white;
}

.blue-box {
    background-color: #E6E6FA;
}

.multiple-lines {
    display: flex;
    flex-direction: column;
}

span {
    padding: 3px;
}

#seven-may-top {
    position: relative;
    top: -11px;
}

#eight-may-top {
    position: relative;
    top: -19px;
}

#ten-may-top {
    position: relative;
    top: -34px;
    left: 31px;
}

#ten-may-bottom {
    position: relative;
    top: 11px;
}

#fourteen-may-top {
    position: relative;
    top: -11px;
}

#sixteen-may-top {
    position: relative;
    top: -23px;
    left: 39px;
}

#sixteen-may-bottom {
    position: relative;
    top: 23px;
    left: 1px;
}

#seventeen-may-top {
    position: relative;
    top: -22px;
}

#seventeen-may-bottom {
    position: relative;
    top: 24px;
}

#nineteen-may-top {
    position: relative;
    top: -23px;
}

#twentyone-may-top {
    position: relative;
    top: -11px;
}

#twentyeight-may-top {
    position: relative;
    top: -33px;
}

#twentyeight-may-bottom {
    position: relative;
    top: 10px;
}

#twentynine-may-top {
    position: relative;
    top: -12px;
}

#thirty-may-top {
    position: relative;
    top: -22px;
    left: 31px;
}

#thirty-may-bottom {
    position: relative;
}

#year {
    text-align: left;
}


tr td:nth-child(3) {
    text-align: right;
}

tr td:nth-child(4) {
    text-align: right;
}

tr td:nth-child(5) {
    text-align: right;
}

th {
    vertical-align: top;
    font-weight: lighter;
    padding-right: 10px;
    padding-top: 4px;
    padding-left: 3px;
}

thead td {
    padding-left: 5px;
}

tbody tr td:last-of-type {
    display: inline-block;
    position: relative; 
    left: 45px;

}

tr th:first-of-type {
    text-align: left;
}

thead tr th:nth-child(3) {
    width: 70px;
    height: 10px;
}

thead tr th:nth-child(4) {
    width: 70px;
    height: 10px;
}

thead tr th:nth-child(5) {
    width: 90px;
    height: 10px;
}

thead tr td span {
    position: relative;
    bottom: -2px;
}

#move-down {
    position: relative;
    top: 43px;
}

#move-down1 {
    position: relative;
    top: 22px;
}

path {
    stroke: black;
    stroke-width: 0.08;
    fill: none;
}

.custom-border {
    position: absolute;
}

.table {
    position: relative;
}

.right-of-table p {
border-bottom: 1.5px solid black;
margin-bottom: -8px;
display: flex;
justify-content: space-between;
}

.right-of-table {
    position: relative;
    left: 40px;
    bottom: 8px;
    padding-left: 7px;
    padding-right: 7px;
    width: 52%;
}

.right-of-table::before {
    content: "";
    position: absolute;
    height: 70%;
    width: 97%;
    top: 11px;
    left: 5px;
    z-index: -1;
    background-color: #E6E6FA;
    border-radius: 10px;
}