:root {
  --secondary-color: #40E0D0;
}

body {
  background-color: rgb(32, 35, 45);
}

header {
  background-color: var(--secondary-color);
  padding: 0.1rem;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

nav {
  position: fixed;
  top: 0;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}

nav ul li {
  list-style: none;
  margin-right: 7vw;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

#welcome-section h1 {
  color: var(--secondary-color);
  text-align: center;
  font-size: 3rem;
}

#welcome-section {
  padding: 30vh 0;
}

#projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

@media (max-width: 650px) {
  nav ul li {
    margin: 0 auto;
  }
}